#vertical-pagination {
  &.custom-vertical-pagination > .custom-pagination-link {
    width: 10px;
    height: 10px;
  }
  &.custom-vertical-pagination {
    right: 2%;
    top: 38%;
    gap: 15px;
  }
  & .custom-pagination-link {
    background-color: #c5cdd1;
    border: 1px solid #f9f9f9;
    box-shadow: 0 1px 2px var(--text-color);
  }
  & .custom-pagination-link.active {
    transform: scale(1.5);
    background-color: #fff !important;
  }
}

.tooltip-inner {
  padding: 5px 15px !important;
  background-color: var(--secondary-color) !important;
  border-radius: 0 !important;
  position: relative;
  left: -8px;
  font-size: 16px;
}
.tooltip-arrow::before {
  border-left-color: var(--secondary-color) !important;
  
  left: -8px !important;
}
