.custom-shop-card {
  & .card-body .btn:hover {
    background-color: #f8f9fa;
    color: var(--secondary-color);
    border: none;
    transition: all 0.2s;
  }
  & .custom-vertical-divider {
    max-height: 100%;
    width: 2px;
    background-color: var(--secondary-color);
  }
  & .custom-card-price {
    bottom: 110px;
    background: var(--secondary-color);
  }
  & .custom-quantity-button {
    border-color: var(--secondary-color) !important;
  }
}
